@import https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap;

main {
margin-top:6%;
height:720px
}

#Movie_title {
font-family:'PT Sans Caption',sans-serif;
font-size:28px;
width:fit-content;
margin-left:57px;
margin-bottom:.4%;
border-bottom:4px #000 solid
}

.Movie_aside {
top:10%;
border:5px #6368736b solid;
width:20%;
background-image:var(--default-color);
height:500px;
overflow-y:scroll;
overflow-x:hidden
}

.Chapt_Tv {
width:100%;
text-align:center
}

.h2_title {
font-family:'PT Sans Caption',sans-serif;
width:fit-content;
display:inline-block
}

.fas {
color:#33333c8c;
width:20px;
transition:color,width 2s
}

.fas:hover {
color:#000;
width:28px
}

.fa-chevron-circle-down {
display:none
}

.Chapt_Tv>a {
display:block
}

.Chapt_Tv>a>img {
width:120px;
transition:width
}

.Chapt_Tv>a>img:hover {
width:130px
}

.Chapt_Tv>a>p {
width:39%;
margin-right:2%;
margin-top:8%;
font-family:'PT Sans Caption',sans-serif;
font-weight:bolder;
font-size:14px;
text-align:left;
float:right
}

.Televisiz_epir {
display:inline-block;
position:absolute;
top:0;
margin-left:25%
}

.Tv_title {
margin-top:100px;
width:95%
}

.Tv_title img {
width:100px;
margin-top:2%;
margin-left:50px
}

.active_date {
display:inline-block;
float:right;
width:140px;
text-align:center;
margin-top:5%;
margin-right:5%;
border-bottom:5px #3cfc3c solid;
border-top:5px #0d6bf8 solid;
border-left:5px #ff21da solid;
border-right:5px #d9ff00 solid
}

.dialog-date {
display:inline-block;
position:absolute;
top:10%;
right:2%;
border:5px #6368736b solid;
width:20%;
background-image:var(--default-color);
height:500px;
overflow-y:scroll;
overflow-x:hidden;
text-align:center
}

.fa-chevron-circle-left {
margin-left:10%
}

.Month_day {
display:inline-block;
width:fit-content;
font-family:'PT Sans Caption',sans-serif;
font-size:16px;
font-weight:bolder;
border-bottom:5px red solid
}

.Kino_huviari {
width:100%;
margin-right:5%
}

.date-title {
font-weight:bolder;
text-align:left;
padding-left:8%
}

@media only screen and (min-width:767px) and (max-width:1279px) {
main {
margin-top:10%
}

.h2_title {
font-size:16px
}

.Chapt_Tv>a {
display:block
}

.Chapt_Tv>a>img {
width:100px
}

.Chapt_Tv>a>img:hover {
width:110px
}

.Chapt_Tv>a>p {
display:none
}

.Televisiz_epir {
display:inline-block;
position:absolute;
top:0;
width:60%;
text-align:center
}

iframe {
width:500px;
height:300px
}

.Tv_title {
margin-top:100px;
width:95%
}

.Tv_title img {
width:80px;
margin-top:2%;
margin-left:10px
}

.active_date {
width:120px
}

.dialog-date {
float:right;
top:50%;
margin-right:6%;
width:65%;
height:300px
}

.Month_day {
font-size:18px;
border-bottom:2px red solid
}

.Kino_huviari {
display:inline-block
}

.date-title {
width:220px;
border:2px blue solid;
display:inline-block;
margin:0;
text-align:left
}
}

@media only screen and (max-width:767px) {
main {
height:400px
}

#Movie_title {
margin-top:520px
}

.Movie_aside {
width:85%;
height:216px
}

.h2_title {
margin:0;
border-bottom:solid
}

.Chapt_Tv>a>img {
width:100px
}

.Chapt_Tv>a>img:hover {
width:110px
}

.Televisiz_epir {
margin:auto
}

.Tv_title {
margin-top:38px
}

iframe {
width:300px;
height:220px
}

.Tv_title img {
width:80px
}

.active_date {
display:none
}

.dialog-date {
top:55%;
margin-right:12%;
width:80%;
height:150px
}

.Month_day {
border-bottom:3px red solid
}

.Kino_huviari {
width:100%;
margin-right:5%
}
}
